.Cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 960px;
  width: 100%;
  background: white;
  padding-bottom: 89px;
  border-radius: 10px;
}

.Cart-content {
  margin-top: 71px;
}
.Cart-subtitle {
  display: flex;
  font-weight: 700;
  gap: 53px;
  justify-content: flex-end;
  padding: 20px 120px;
}
